In [ ]:
# When data is spread among several files, you usually invoke pandas' read_csv()
# (or a similar data import function) multiple times to load the data into several DataFrames.

# Import pandas
import pandas as pd

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv('Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv('Gold.csv')

# Print the first five rows of gold
print(gold.head())

'''
<script.py> output:
       NOC         Country   Total
    0  USA   United States  2088.0
    1  URS    Soviet Union   838.0
    2  GBR  United Kingdom   498.0
    3  FRA          France   378.0
    4  GER         Germany   407.0
'''

In [ ]:
# loading data from multiple files into DataFrames is more efficient in a loop or a list comprehension.

# Notice that this approach is not restricted to working with CSV files. That is, even if your
# data comes in other formats, as long as pandas has a suitable data import function, you can
# apply a loop or comprehension to generate a list of DataFrames imported from the source files.

# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())


'''
<script.py> output:
       NOC         Country   Total
    0  USA   United States  2088.0
    1  URS    Soviet Union   838.0
    2  GBR  United Kingdom   498.0
    3  FRA          France   378.0
    4  GER         Germany   407.0
'''

In [ ]:
# Import pandas
import pandas as pd

# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())


'''
<script.py> output:
       NOC         Country    Gold  Silver  Bronze
    0  USA   United States  2088.0  1195.0  1052.0
    1  URS    Soviet Union   838.0   627.0   584.0
    2  GBR  United Kingdom   498.0   591.0   505.0
    3  FRA          France   378.0   461.0   475.0
    4  GER         Germany   407.0   350.0   454.0
'''

In [ ]:
# It is often useful to rearrange the sequence of the rows of a DataFrame by sorting.
# You don't have to implement these yourself; the principal methods for doing this are
# .sort_index() and .sort_values().

# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col = 'Month')

# Print the head of weather1
print(weather1.head())

# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index(ascending = True)

# Print the head of weather2
print(weather2.head())

# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending = False)

# Print the head of weather3
print(weather3.head())

# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('Max TemperatureF')

# Print the head of weather4
print(weather4.head())

'''
<script.py> output:
           Max TemperatureF
    Month                  
    Jan                  68
    Feb                  60
    Mar                  68
    Apr                  84
    May                  88
           Max TemperatureF
    Month                  
    Apr                  84
    Aug                  86
    Dec                  68
    Feb                  60
    Jan                  68
           Max TemperatureF
    Month                  
    Sep                  90
    Oct                  84
    Nov                  72
    May                  88
    Mar                  68
           Max TemperatureF
    Month                  
    Feb                  60
    Jan                  68
    Mar                  68
    Dec                  68
    Nov                  72
'''

In [ ]:
# Sorting methods are not the only way to change DataFrame Indexes. There is also the .reindex() method.

# The original data has the first month's abbreviation of the quarter (three-month interval) on the Index,
# namely Apr, Jan, Jul, and Sep. This data has been loaded into a DataFrame called weather1 and has been
# printed in its entirety in the IPython Shell. Notice it has only four rows (corresponding to the first
# month of each quarter) and that the rows are not sorted chronologically.

# You'll initially use a list of all twelve month abbreviations and subsequently apply the .ffill() 
# method to forward-fill the null entries when upsampling. This list of month abbreviations has
# been pre-loaded as year.

# Import pandas
import pandas as pd

# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)


'''
       Mean TemperatureF
Month                   
Apr            61.956044
Jan            32.133333
Jul            68.934783
Oct            43.434783

<script.py> output:
           Mean TemperatureF
    Month                   
    Jan            32.133333
    Feb                  NaN
    Mar                  NaN
    Apr            61.956044
    May                  NaN
    Jun                  NaN
    Jul            68.934783
    Aug                  NaN
    Sep                  NaN
    Oct            43.434783
    Nov                  NaN
    Dec                  NaN
           Mean TemperatureF
    Month                   
    Jan            32.133333
    Feb            32.133333
    Mar            32.133333
    Apr            61.956044
    May            61.956044
    Jun            61.956044
    Jul            68.934783
    Aug            68.934783
    Sep            68.934783
    Oct            43.434783
    Nov            43.434783
    Dec            43.434783
'''

In [ ]:
# Another common technique is to reindex a DataFrame using the Index of another DataFrame.
# The DataFrame .reindex() method can accept the Index of a DataFrame or Series as input.
# You can access the Index of a DataFrame with its .index attribute.

# The DataFrames names_1981 and names_1881 both have a MultiIndex with levels name and gender
# giving unique labels to counts in each row. If you're interested in seeing how the MultiIndexes
# were set up, names_1981 and names_1881 were read in using the following commands:

# names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
# names_1881 = pd.read_csv('names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))

# As you can see by looking at their shapes, which have been printed in the IPython Shell, the DataFrame
# corresponding to 1981 births is much larger, reflecting the greater diversity of names in 1981 as compared to 1881.

# Your job here is to use the DataFrame .reindex() and .dropna() methods to make a DataFrame common_names
# counting names from 1881 that were still popular in 1981.

# Import pandas
import pandas as pd

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)


'''
Shape of names_1981 DataFrame: (19455, 1)
Shape of names_1881 DataFrame: (1935, 1)

<script.py> output:
    (1935, 1)
    (1587, 1)
'''

In [ ]:
# Remember, ordinary arithmetic operators (like +, -, *, and /) broadcast scalar values to
# conforming DataFrames when combining scalars & DataFrames in arithmetic expressions. Broadcasting 
# also works with pandas Series and NumPy arrays.

# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather[['Min TemperatureF','Mean TemperatureF','Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f -32) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F','C')

# Print first 5 rows of temps_c
print(temps_c.head())


'''
<script.py> output:
                Min TemperatureC  Mean TemperatureC  Max TemperatureC
    Date                                                             
    2013-01-01         -6.111111          -2.222222          0.000000
    2013-01-02         -8.333333          -6.111111         -3.888889
    2013-01-03         -8.888889          -4.444444          0.000000
    2013-01-04         -2.777778          -2.222222         -1.111111
    2013-01-05         -3.888889          -1.111111          1.111111
'''

In [ ]:
# Create the DataFrame yearly by resampling the slice post2008 by year. Remember, you need
# to chain .resample() (using the alias 'A' for annual frequency) with some kind of aggregation;
# you will use the aggregation method .last() to select the last element when resampling.

import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('GDP.csv', index_col = 'DATE', parse_dates = True)

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc['2008':,]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change() * 100

# Print yearly again
print(yearly)


'''
<script.py> output:
                  VALUE
    DATE               
    2014-07-01  17569.4
    2014-10-01  17692.2
    2015-01-01  17783.6
    2015-04-01  17998.3
    2015-07-01  18141.9
    2015-10-01  18222.8
    2016-01-01  18281.6
    2016-04-01  18436.5
                  VALUE
    DATE               
    2008-12-31  14549.9
    2009-12-31  14566.5
    2010-12-31  15230.2
    2011-12-31  15785.3
    2012-12-31  16297.3
    2013-12-31  16999.9
    2014-12-31  17692.2
    2015-12-31  18222.8
    2016-12-31  18436.5
                  VALUE    growth
    DATE                         
    2008-12-31  14549.9       NaN
    2009-12-31  14566.5  0.114090
    2010-12-31  15230.2  4.556345
    2011-12-31  15785.3  3.644732
    2012-12-31  16297.3  3.243524
    2013-12-31  16999.9  4.311144
    2014-12-31  17692.2  4.072377
    2015-12-31  18222.8  2.999062
    2016-12-31  18436.5  1.172707
'''

In [ ]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('sp500.csv', index_col = 'Date', parse_dates = True)

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('exchange.csv', index_col = 'Date', parse_dates = True)

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[['Open','Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'], axis = 'rows')

# Print the head of pounds
print(pounds.head())

'''
<script.py> output:
                       Open        Close
    Date                                
    2015-01-02  2058.899902  2058.199951
    2015-01-05  2054.439941  2020.579956
    2015-01-06  2022.150024  2002.609985
    2015-01-07  2005.550049  2025.900024
    2015-01-08  2030.609985  2062.139893
                       Open        Close
    Date                                
    2015-01-02  1340.364425  1339.908750
    2015-01-05  1348.616555  1326.389506
    2015-01-06  1332.515980  1319.639876
    2015-01-07  1330.562125  1344.063112
    2015-01-08  1343.268811  1364.126161
'''

In [ ]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('sales-jan-2015.csv', index_col = 'Date', parse_dates = True)

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('sales-feb-2015.csv', index_col = 'Date', parse_dates = True)

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('sales-mar-2015.csv', index_col = 'Date', parse_dates = True)

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

# Compute & print total sales in quarter1
print(quarter1.sum())


'''
<script.py> output:
    Date
    2015-01-27 07:11:55    18
    2015-02-02 08:33:01     3
    2015-02-02 20:54:49     9
    Name: Units, dtype: int64
    Date
    2015-02-26 08:57:45     4
    2015-02-26 08:58:51     1
    2015-03-06 10:11:45    17
    2015-03-06 02:03:56    17
    Name: Units, dtype: int64
    642
'''

In [ ]:
# Your job is to use pd.concat() with a list of Series to achieve the same result that you
# would get by chaining calls to .append().

# You may be wondering about the difference between pd.concat() and pandas' .append() method.
# One way to think of the difference is that .append() is a specific case of a concatenation,
# while pd.concat() gives you more flexibility, as you'll see in later exercises.


# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis = 'rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])


'''
<script.py> output:
    Date
    2015-01-27 07:11:55    18
    2015-02-02 08:33:01     3
    2015-02-02 20:54:49     9
    Name: Units, dtype: int64
    Date
    2015-02-26 08:57:45     4
    2015-02-26 08:58:51     1
    2015-03-06 10:11:45    17
    2015-03-06 02:03:56    17
    Name: Units, dtype: int64
'''

In [ ]:
# You'll use the DataFrame .append() method to make a DataFrame combined_names. To distinguish
# rows from the original two DataFrames, you'll add a 'year' column to each with the year (1881
# or 1981 in this case). In addition, you'll specify ignore_index=True so that the index values
# are not used along the concatenation axis. The resulting axis will instead be labeled 0, 1, ..., n-1,
# which is useful if you are concatenating objects where the concatenation axis does not have meaningful
# indexing information.

# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=True)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

# Print all rows that contain the name 'Morgan'
print(combined_names.loc[combined_names['name'] == 'Morgan'])


'''
<script.py> output:
    (19455, 4)
    (1935, 4)
    (21390, 4)
             name gender  count  year
    1283   Morgan      M     23  1881
    2096   Morgan      F   1769  1981
    14390  Morgan      M    766  1981
'''

In [ ]:
# The function pd.concat() can concatenate DataFrames horizontally as well as vertically
# (vertical is the default). To make the DataFrames stack horizontally, you have to specify
# the keyword argument axis=1 or axis='columns'.

# In this exercise, you'll use weather data with maximum and mean daily temperatures sampled at
# different rates (quarterly versus monthly). You'll concatenate the rows of both and see that,
# where rows are missing in the coarser DataFrame, null values are inserted in the concatenated
# DataFrame. This corresponds to an outer join (which you will explore in more detail in later exercises).

# Concatenate weather_max and weather_mean horizontally: weather
weather = pd.concat([weather_max, weather_mean], axis = 1)

# Print weather
print(weather)

'''
<script.py> output:
         Max TemperatureF  Mean TemperatureF
    Apr              89.0          53.100000
    Aug               NaN          70.000000
    Dec               NaN          34.935484
    Feb               NaN          28.714286
    Jan              68.0          32.354839
    Jul              91.0          72.870968
    Jun               NaN          70.133333
    Mar               NaN          35.000000
    May               NaN          62.612903
    Nov               NaN          39.800000
    Oct              84.0          55.451613
    Sep               NaN          63.766667
'''

In [ ]:
for medal in medal_types:

    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    
    # Create list of column names: columns
    columns = ['Country', medal]
    
    # Read file_name into a DataFrame: df
    medal_df = pd.read_csv(file_name, header = 0, index_col='Country', names = columns)

    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals
medals = pd.concat(medals, axis = 'columns')

# Print medals
print(medals)


'''
<script.py> output:
                    bronze  silver    gold
    France           475.0   461.0     NaN
    Germany          454.0     NaN   407.0
    Italy              NaN   394.0   460.0
    Soviet Union     584.0   627.0   838.0
    United Kingdom   505.0   591.0   498.0
    United States   1052.0  1195.0  2088.0
'''

In [ ]:
# When stacking a sequence of DataFrames vertically, it is sometimes desirable to construct
# a MultiIndex to indicate the DataFrame from which each row originated. This can be done by 
# specifying the keys parameter in the call to pd.concat(), which generates a hierarchical index
# with the labels from keys as the outermost index label. So you don't have to rename the columns
# of each DataFrame as you load it. Instead, only the Index column needs to be specified.

for medal in medal_types:

    file_name = "%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, index_col = 'Country')
    
    # Append medal_df to medals
    medals.append(medal_df)
    
# Concatenate medals: medals
medals = pd.concat(medals, keys = ['bronze', 'silver', 'gold'], axis = 0)

# Print medals in entirety
print(medals)


'''
<script.py> output:
                            Total
           Country               
    bronze United States   1052.0
           Soviet Union     584.0
           United Kingdom   505.0
           France           475.0
           Germany          454.0
    silver United States   1195.0
           Soviet Union     627.0
           United Kingdom   591.0
           France           461.0
           Italy            394.0
    gold   United States   2088.0
           Soviet Union     838.0
           United Kingdom   498.0
           Italy            460.0
           Germany          407.0
'''

In [ ]:
# You are provided with the MultiIndexed DataFrame as produced at the end of the preceding exercise.
# Your task is to sort the DataFrame and to use the pd.IndexSlice to extract specific slices.
# Check out this exercise from Manipulating DataFrames with pandas to refresh your memory on how
# to deal with MultiIndexed DataFrames.

# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level = 0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:,'United Kingdom'], :])


'''
<script.py> output:
    Total    454.0
    Name: (bronze, Germany), dtype: float64
                     Total
    Country               
    France           461.0
    Italy            394.0
    Soviet Union     627.0
    United Kingdom   591.0
    United States   1195.0
                           Total
           Country              
    bronze United Kingdom  505.0
    silver United Kingdom  591.0
    gold   United Kingdom  498.0
'''

In [ ]:
# It is also possible to construct a DataFrame with hierarchically indexed columns.
# For this exercise, you'll start with pandas imported and a list of three DataFrames called dataframes.
# All three DataFrames contain 'Company', 'Product', and 'Units' columns with a 'Date' column
# as the index pertaining to sales transactions during the month of February, 2015. The first
# DataFrame describes Hardware transactions, the second describes Software transactions, and 
# the third, Service transactions.

# Your task is to concatenate the DataFrames horizontally and to create a MultiIndex on the
# columns. From there, you can summarize the resulting DataFrame and slice some information from it.

# Concatenate dataframes: february
february = pd.concat(dataframes, keys = ['Hardware', 'Software', 'Service'], axis = 1)

# Print february.info()
print(february.info())

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

# Create the slice: slice_2_8
slice_2_8 = february.loc['Feb 2, 2015':'Feb 8, 2015', idx[:, 'Company']]

# Print slice_2_8
print(slice_2_8)


'''
<script.py> output:
    <class 'pandas.core.frame.DataFrame'>
    DatetimeIndex: 20 entries, 2015-02-02 08:33:01 to 2015-02-26 08:58:51
    Data columns (total 9 columns):
    (Hardware, Company)    5 non-null object
    (Hardware, Product)    5 non-null object
    (Hardware, Units)      5 non-null float64
    (Software, Company)    9 non-null object
    (Software, Product)    9 non-null object
    (Software, Units)      9 non-null float64
    (Service, Company)     6 non-null object
    (Service, Product)     6 non-null object
    (Service, Units)       6 non-null float64
    dtypes: float64(3), object(6)
    memory usage: 1.6+ KB
    None
                                Hardware         Software Service
                                 Company          Company Company
    Date                                                         
    2015-02-02 08:33:01              NaN            Hooli     NaN
    2015-02-02 20:54:49        Mediacore              NaN     NaN
    2015-02-03 14:14:18              NaN          Initech     NaN
    2015-02-04 15:36:29              NaN        Streeplex     NaN
    2015-02-04 21:52:45  Acme Coporation              NaN     NaN
    2015-02-05 01:53:06              NaN  Acme Coporation     NaN
    2015-02-05 22:05:03              NaN              NaN   Hooli
    2015-02-07 22:58:10  Acme Coporation              NaN     NaN
'''

In [ ]:
# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])


'''
<script.py> output:
                              Units
             Company               
    february Acme Coporation     34
             Hooli               30
             Initech             30
             Mediacore           45
             Streeplex           37
    january  Acme Coporation     76
             Hooli               70
             Initech             37
             Mediacore           15
             Streeplex           50
    march    Acme Coporation      5
             Hooli               37
             Initech             68
             Mediacore           68
             Streeplex           40
                        Units
             Company         
    february Mediacore     45
    january  Mediacore     15
    march    Mediacore     68
'''

In [ ]:
# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys = ['bronze', 'silver', 'gold'], axis = 1, join = 'inner')

# Print medals
print(medals)


'''
<script.py> output:
                    bronze  silver    gold
                     Total   Total   Total
    Country                               
    United States   1052.0  1195.0  2088.0
    Soviet Union     584.0   627.0   838.0
    United Kingdom   505.0   591.0   498.0
'''

In [ ]:
# You'll need to use a combination of resampling and an inner join to align the index labels.
# You'll need an appropriate offset alias for resampling, and the method .resample() must be
# chained with some kind of aggregation method (.pct_change() and .last() in this case).

# Resample and tidy china: china_annual
china_annual = china.resample('A').pct_change(10).dropna()

# Resample and tidy us: us_annual
us_annual = us.resample('A').pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual, us_annual], join = 'inner', axis = 1)

# Resample gdp and print
print(gdp.resample('10A').last())


'''
<script.py> output:
                   China        US
    Year                          
    1971-12-31  0.988860  1.073188
    1981-12-31  0.972048  1.749631
    1991-12-31  0.962528  0.922811
    2001-12-31  2.492511  0.720398
    2011-12-31  4.623958  0.460947
    2021-12-31  3.789936  0.377506
'''

In [ ]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue, managers, on = 'city')

# Print merge_by_city
print(merge_by_city)

# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue, managers, on = 'branch_id')

# Print merge_by_id
print(merge_by_id)

'''
<script.py> output:
       branch_id_x         city  revenue  branch_id_y   manager
    0           10       Austin      100           10  Charlers
    1           20       Denver       83           20      Joel
    2           30  Springfield        4           31     Sally
    3           47    Mendocino      200           47     Brett
       branch_id     city_x  revenue     city_y   manager
    0         10     Austin      100     Austin  Charlers
    1         20     Denver       83     Denver      Joel
    2         47  Mendocino      200  Mendocino     Brett
'''

In [ ]:
# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue, managers, left_on = 'city', right_on = 'branch')

# Print combined
print(combined)


'''
   branch_id         city  revenue state
0         10       Austin      100    TX
1         20       Denver       83    CO
2         30  Springfield        4    IL
3         47    Mendocino      200    CA

        branch  branch_id   manager state
0       Austin         10  Charlers    TX
1       Denver         20      Joel    CO
2    Mendocino         47     Brett    CA
3  Springfield         31     Sally    MO

<script.py> output:
       branch_id_x         city  revenue state_x       branch  branch_id_y  \
    0           10       Austin      100      TX       Austin           10   
    1           20       Denver       83      CO       Denver           20   
    2           30  Springfield        4      IL  Springfield           31   
    3           47    Mendocino      200      CA    Mendocino           47   
    
        manager state_y  
    0  Charlers      TX  
    1      Joel      CO  
    2     Sally      MO  
    3     Brett      CA
'''

In [ ]:
# Add 'state' column to revenue: revenue['state']
revenue['state'] = ['TX','CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX','CO','CA','MO']

# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined = pd.merge(revenue, managers, on = ['branch_id', 'city', 'state'])

# Print combined
print(combined)


'''
In [2]: revenue
Out[2]: 
   branch_id         city  revenue state
0         10       Austin      100    TX
1         20       Denver       83    CO
2         30  Springfield        4    IL
3         47    Mendocino      200    CA

In [3]: managers
Out[3]: 
   branch_id         city   manager state
0         10       Austin  Charlers    TX
1         20       Denver      Joel    CO
2         47    Mendocino     Brett    CA
3         31  Springfield     Sally    MO

<script.py> output:
       branch_id       city  revenue state   manager
    0         10     Austin      100    TX  Charlers
    1         20     Denver       83    CO      Joel
    2         47  Mendocino      200    CA     Brett
'''

In [ ]:
'''
revenue
   branch_id         city  revenue state
0         10       Austin      100    TX
1         20       Denver       83    CO
2         30  Springfield        4    IL
3         47    Mendocino      200    CA

managers
        branch  branch_id   manager state
0       Austin         10  Charlers    TX
1       Denver         20      Joel    CO
2    Mendocino         47     Brett    CA
3  Springfield         31     Sally    MO

sales
          city state  units
0    Mendocino    CA      1
1       Denver    CO      4
2       Austin    TX      2
3  Springfield    MO      5
4  Springfield    IL      1

'''

# Merge revenue and sales: revenue_and_sales
revenue_and_sales = pd.merge(revenue, sales, on = ['city', 'state'], how = 'right')

# Print revenue_and_sales
print(revenue_and_sales)

# Merge sales and managers: sales_and_managers
sales_and_managers = pd.merge(sales, managers, how = 'left', left_on= ['city', 'state'], right_on = ['branch', 'state'])

# Print sales_and_managers
print(sales_and_managers)


'''
<script.py> output:
       branch_id         city  revenue state  units
    0       10.0       Austin    100.0    TX      2
    1       20.0       Denver     83.0    CO      4
    2       30.0  Springfield      4.0    IL      1
    3       47.0    Mendocino    200.0    CA      1
    4        NaN  Springfield      NaN    MO      5
              city state  units       branch  branch_id   manager
    0    Mendocino    CA      1    Mendocino       47.0     Brett
    1       Denver    CO      4       Denver       20.0      Joel
    2       Austin    TX      2       Austin       10.0  Charlers
    3  Springfield    MO      5  Springfield       31.0     Sally
    4  Springfield    IL      1          NaN        NaN       NaN
'''

In [ ]:
# Perform the first merge: merge_default
merge_default = pd.merge(sales_and_managers, revenue_and_sales)

# Print merge_default
print(merge_default)

# Perform the second merge: merge_outer
merge_outer = pd.merge(sales_and_managers, revenue_and_sales, how = 'outer')

# Print merge_outer
print(merge_outer)

# Perform the third merge: merge_outer_on
merge_outer_on = pd.merge(sales_and_managers, revenue_and_sales, on = ['city', 'state'], how = 'outer')

# Print merge_outer_on
print(merge_outer_on)


'''
<script.py> output:
            city state  units     branch  branch_id   manager  revenue
    0  Mendocino    CA      1  Mendocino       47.0     Brett    200.0
    1     Denver    CO      4     Denver       20.0      Joel     83.0
    2     Austin    TX      2     Austin       10.0  Charlers    100.0
              city state  units       branch  branch_id   manager  revenue
    0    Mendocino    CA      1    Mendocino       47.0     Brett    200.0
    1       Denver    CO      4       Denver       20.0      Joel     83.0
    2       Austin    TX      2       Austin       10.0  Charlers    100.0
    3  Springfield    MO      5  Springfield       31.0     Sally      NaN
    4  Springfield    IL      1          NaN        NaN       NaN      NaN
    5  Springfield    IL      1          NaN       30.0       NaN      4.0
    6  Springfield    MO      5          NaN        NaN       NaN      NaN
              city state  units_x       branch  branch_id_x   manager  \
    0    Mendocino    CA        1    Mendocino         47.0     Brett   
    1       Denver    CO        4       Denver         20.0      Joel   
    2       Austin    TX        2       Austin         10.0  Charlers   
    3  Springfield    MO        5  Springfield         31.0     Sally   
    4  Springfield    IL        1          NaN          NaN       NaN   
    
       branch_id_y  revenue  units_y  
    0         47.0    200.0        1  
    1         20.0     83.0        4  
    2         10.0    100.0        2  
    3          NaN      NaN        5  
    4         30.0      4.0        1
'''

In [ ]:
# Perform the first ordered merge: tx_weather
tx_weather = pd.merge_ordered(austin, houston)

# Print tx_weather
print(tx_weather)

# Perform the second ordered merge: tx_weather_suff
tx_weather_suff = pd.merge_ordered(austin, houston, on = 'date', suffixes = ['_aus','_hus'])

# Print tx_weather_suff
print(tx_weather_suff)

# Perform the third ordered merge: tx_weather_ffill
tx_weather_ffill = pd.merge_ordered(austin, houston, on = 'date', suffixes = ['_aus','_hus'], fill_method = 'ffill')

# Print tx_weather_ffill
print(tx_weather_ffill)


'''
austin
        date ratings
0 2016-01-01  Cloudy
1 2016-02-08  Cloudy
2 2016-01-17   Sunny

houston
        date ratings
0 2016-01-04   Rainy
1 2016-01-01  Cloudy
2 2016-03-01   Sunny

<script.py> output:
            date ratings
    0 2016-01-01  Cloudy
    1 2016-01-04   Rainy
    2 2016-01-17   Sunny
    3 2016-02-08  Cloudy
    4 2016-03-01   Sunny
            date ratings_aus ratings_hus
    0 2016-01-01      Cloudy      Cloudy
    1 2016-01-04         NaN       Rainy
    2 2016-01-17       Sunny         NaN
    3 2016-02-08      Cloudy         NaN
    4 2016-03-01         NaN       Sunny
            date ratings_aus ratings_hus
    0 2016-01-01      Cloudy      Cloudy
    1 2016-01-04      Cloudy       Rainy
    2 2016-01-17       Sunny       Rainy
    3 2016-02-08      Cloudy       Rainy
    4 2016-03-01      Cloudy       Sunny
'''